*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 3.125vw 0 3.125vw;
}

.wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 auto -20px;
}

body, input, button {
  font-family: "Lato", sans-serif;
}

img {
  margin: 0 auto;
  display: block;
}

a {
  text-decoration: none;
}

#spriteSvg {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 0;
  height: 0;
  opacity: 0;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 20px auto 0;
  width: 183px;
  height: 54px;
  border: none;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.button span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  z-index: 5;
  font-size: 13px;
  text-transform: uppercase;
}
.button::before, .button::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: opacity 0.4s;
}
.button::before {
  opacity: 1;
}
.button::after {
  opacity: 0;
}
.button--blue {
  border: 1px solid #FFFFFF;
}
.button--blue span {
  color: #fff;
}
.button--blue::before {
  background: #3E9CDC;
}
.button--blue::after {
  background: #fff;
}
.button--blue:hover {
  border-color: #3E9CDC;
}
.button--blue:hover span {
  color: #3E9CDC;
}
.button--white {
  border: 1px solid #6F6D7B;
}
.button--white span {
  color: #2A2B30;
}
.button--white::before {
  background: #fff;
}
.button--white::after {
  background: #3E9CDC;
}
.button--white:hover {
  border-color: #fff;
}
.button--white:hover span {
  color: #fff;
}
.button:hover::before {
  opacity: 0;
}
.button:hover::after {
  opacity: 1;
}

.bg {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.header {
  z-index: 10;
  position: relative;
}
.header__fixed {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.promo {
  margin-top: -50px;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
}
.promo h1 {
  font-size: 24px;
  margin-top: 70px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}
.promo h1 span {
  font-weight: 800;
  color: #3E9CDC;
}
.promo__subtitle {
  margin-top: 40px;
  font-size: 16px;
}
.promo__list {
  margin-top: 10px;
  margin-left: 10px;
}
.promo__list li {
  margin-top: 5px;
  font-size: 15px;
}
.promo__list li::marker {
  content: "- ";
  font-size: 17px;
}
.promo__buttons {
  max-width: 396px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.promo__buttons .button {
  margin: 40px 0 0;
}

.order {
  padding: 80px 0;
  background: #000;
  background: #272733;
  position: relative;
  overflow: hidden;
}
.order__bg {
  z-index: 0;
}
.order__title {
  line-height: 1.2;
  font-weight: 800;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.order__title span {
  color: #3E9CDC;
}
.order__subtitle {
  margin-top: 30px;
  text-align: center;
  color: #BBBBBB;
  line-height: 1.2;
  font-weight: 400;
  font-size: 18px;
}
.order__steps {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-right: -10px;
}
.order__steps .step {
  margin-top: 40px;
  margin-right: 10px;
  width: 156px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order__steps .step__ico {
  background: #3E9CDC;
  border: 5px solid #286690;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
}
.order__steps .step__ico svg {
  max-width: 39px;
  max-height: 41px;
}
.order__steps .step p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

.form {
  max-width: 370px;
  margin: 40px auto 0;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
}
.form input:not(.slider, #input-file), .form select {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.85);
  line-height: 1.79;
  height: 48px;
  display: block;
  margin: 0 auto 20px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  padding-left: 10px;
  color: #272733;
}
.form input:not(.slider, #input-file)::-moz-placeholder, .form select::-moz-placeholder {
  color: #272733;
}
.form input:not(.slider, #input-file)::placeholder, .form select::placeholder {
  color: #272733;
}
.form .chosen-container {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.85);
  line-height: 1.79;
  height: 48px;
  display: block;
  margin: 0 auto 20px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  color: #272733;
}
.form__file {
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 370px;
}
.form__file input[type=file] {
  display: none;
}
.form__file label {
  width: 100%;
  height: 48px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #FFFFFF;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  color: #272733;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.3s;
}
.form__file label:hover {
  border-color: hsl(0, 0%, 21%);
  background: rgba(255, 255, 255, 0.85);
}
.form__file label:hover svg {
  transform: scale(1.1);
}
.form__file label:active {
  background-color: hsl(0, 0%, 96%);
}
.form__file label svg {
  margin-right: 10px;
  max-width: 18px;
  max-height: 20px;
  transition: transform 0.3s;
}
.form__range {
  width: 100%;
  margin: 0 auto;
}
.form__range h2 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  line-height: 1.2;
  font-size: 18px;
  color: #FFFFFF;
  align-items: end;
}
.form__range input.slider {
  width: 100%;
  height: 6px;
  -webkit-appearance: none;
  border-radius: 8px;
  /*webkit*/
  /*mozilla*/
  /*ms*/
}
.form__range input.slider:focus {
  outline: none;
}
.form__range input.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  background: #42A9ED;
  border: 3px solid #286690;
  box-shadow: 0 0 2px black;
  margin-top: -10px;
}
.form__range input.slider::-webkit-slider-runnable-track {
  height: 6px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background: #fff;
  box-shadow: none;
}
.form__range input.slider::-webkit-slider-thumb:hover {
  background: #0061C3;
}
.form__range input.slider::-webkit-slider-thumb:active {
  background: #2f98f9;
}
.form__range input.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 16px;
  background: #42A9ED;
  border: 3px solid #286690;
  box-shadow: 0 0 2px black;
}
.form__range input.slider::-moz-range-track {
  height: 4px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background: #fff;
  box-shadow: none;
}
.form__range input.slider::-moz-range-thumb:hover {
  background: #0061C3;
}
.form__range input.slider::-moz-range-thumb:active {
  background: #2f98f9;
}
.form__range input.slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}
.form__range input.slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}
.form__range input.slider::-ms-thumb {
  width: 24px;
  height: 24px;
  border-radius: 16px;
  background: #42A9ED;
  border: 3px solid #286690;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}
.form__range input.slider::-ms-track {
  height: 6px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #FFFFFF;
  box-shadow: none;
  box-sizing: border-box;
}
.form__range input.slider::-ms-thumb:hover {
  background: #0061C3;
}
.form__range input.slider::-ms-thumb:active {
  background: #2f98f9;
}
.form select {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E%0A") no-repeat 95% 50%, rgba(255, 255, 255, 0.85);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #272733;
}
.form select option {
  color: #272733;
}
.form input:not(.slider), .form select, .form .button {
  width: 100%;
  max-width: 370px;
}
.form .button span {
  font-size: 15px;
}

.footer {
  font-size: 13px;
  background: #3D4050;
  padding: 21px 0;
  font-weight: 400;
  line-height: 1.2;
}
.footer .container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer h5 {
  color: #FFFFFF;
  text-align: center;
  max-width: 310px;
  margin-top: 10px;
}
.footer h5 span {
  text-transform: uppercase;
}
.footer__pay {
  max-width: 405px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 10px max(0%, 81px) 0;
  position: relative;
  justify-content: space-around;
}
.footer__pay::before, .footer__pay::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 18px;
  background: #C3C3C3;
}
.footer__pay::before {
  left: -40px;
}
.footer__pay::after {
  right: -40px;
}
.footer__pay li {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.footer__pay li svg {
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
}
.footer__pay li p {
  color: #C3C3C3;
}
.footer__contacts {
  margin-top: 10px;
  max-width: 315px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__contacts li {
  display: flex;
  align-items: center;
}
.footer__contacts li a {
  color: #FFFFFF;
  transition: color 0.3s;
}
.footer__contacts li:hover a {
  color: #3E9CDC;
}
.footer__contacts li:hover svg {
  fill: #fff;
}
.footer__contacts li svg {
  fill: #3E9CDC;
  transition: fill 0.3s;
  max-width: 20px;
  max-height: 20px;
  margin-right: 13px;
}

@media screen and (min-width: 800px) {
  .header__icon-wrapper {
    height: 0;
    padding: 0;
  }
  .header__fixed {
    left: 0;
  }
  .promo {
    margin-top: -100px;
    padding-bottom: 100px;
  }
  .promo h1 {
    margin-top: 185px;
    max-width: 780px;
  }
  #cssmenu li.header__logo {
    flex-grow: 2;
    text-align: left;
  }
  #cssmenu ul {
    padding: 0 3.125vw 0 3.125vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form {
    max-width: none;
  }
  .form__file {
    order: 4;
    margin: 0 auto 20px;
  }
  .form__range {
    order: 5;
    margin: 0 auto 20px;
    width: 370px;
  }
  .form .button {
    order: 6;
    margin-top: 0;
  }
}
@media screen and (min-width: 990px) {
  .header {
    height: 100px;
  }
  .promo {
    padding-bottom: 190px;
  }
  .promo h1 {
    font-size: 48px;
  }
  .promo__subtitle {
    font-size: 20px;
    margin-top: 80px;
  }
  .promo__buttons {
    margin-top: 70px;
    justify-content: space-between;
  }
  .promo__list {
    margin-left: 23px;
    font-size: 20px;
  }
  .promo__list li {
    padding-left: 5px;
    font-size: 20px;
  }
  .order {
    padding: 121px 0 151px;
  }
  .order__title {
    font-size: 36px;
  }
  .order__steps .step {
    margin-top: 80px;
  }
  .order__steps .step:not(.order__steps .step:last-child) .step__ico::after {
    width: 110px;
    height: 6px;
    background: url("data:image/svg+xml,%3Csvg width='111' height='6' viewBox='0 0 111 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='81.0111' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle cx='107.011' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle cx='55.0111' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle cx='29.0111' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle cx='3.01111' cy='3' r='3' fill='%23C4C4C4'/%3E%3C/svg%3E");
    content: "";
    position: absolute;
    right: -117px;
  }
  .form {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1920px;
    max-width: 100%;
  }
  .container, #cssmenu ul {
    width: 1168px;
    padding: 0;
  }
  .order__steps {
    align-items: start;
  }
  .order__steps .step {
    width: 188px;
  }
  .order__steps .step:not(.order__steps .step:last-child) .step__ico::after {
    right: -127px;
  }
  .form__file {
    order: 5;
  }
  .form__range {
    order: 4;
    width: 767px;
    margin: 8px auto 0px;
  }
  .form input:not(.slider, #input-file), .form select {
    margin-bottom: 30px;
  }
  .form .button {
    margin-top: 55px;
  }
}/*# sourceMappingURL=style.css.map */