
.header
    z-index: 10
    position: relative
    &__fixed
        position: fixed
        right: 0
        top: 0
        z-index: 10
.promo
    margin-top: -50px
    overflow: hidden
    position: relative
    padding-bottom: 50px
    h1
        font-size: 24px
        margin-top: 70px
        text-transform: uppercase
        font-weight: 700
        line-height: 1.2
        span
            font-weight: 800
            color: $blue
            // font-family: 'Raleway'
    &__subtitle
        margin-top: 40px
        font-size: 16px

    &__list
        margin-top: 10px
        margin-left: 10px
        
        li
            margin-top: 5px
            font-size: 15px
            &::marker
                content: '- '
                font-size: 17px
    &__buttons
        max-width: 396px
        display: flex
        align-items: center
        justify-content: space-around
        flex-wrap: wrap
        .button
            margin: 40px 0 0

.order
    padding: 80px 0
    background: #000
    background: #272733
    position: relative
    overflow: hidden
    &__bg
        z-index: 0
    &__title
        line-height: 1.2
        font-weight: 800
        font-size: 36px
        color: #FFFFFF
        text-align: center
        text-transform: uppercase
        span
            color: $blue
    &__subtitle
        margin-top: 30px
        text-align: center
        color: #BBBBBB
        line-height: 1.2
        font-weight: 400
        font-size: 18px

    &__steps
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-around
        margin-right: -10px

        .step
            margin-top: 40px
            margin-right: 10px
            width: 156px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            &__ico
                background: #3E9CDC
                border: 5px solid #286690
                display: flex
                align-items: center
                justify-content: center
                inline-size: 100px
                aspect-ratio: 1
                border-radius: 50%
                position: relative
                svg
                    max-width: 39px
                    max-height: 41px
                // &::after
                //     width: 110px
                //     height: 6px
                //     background: url("data:image/svg+xml,%3Csvg width='111' height='6' viewBox='0 0 111 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='81.0111' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle cx='107.011' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle cx='55.0111' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle cx='29.0111' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle cx='3.01111' cy='3' r='3' fill='%23C4C4C4'/%3E%3C/svg%3E")
                //     content: ''
                //     position: absolute
                //     right: -110px
            p
                margin-top: 20px
                font-weight: 400
                font-size: 16px
                line-height: 1.2
                text-align: center
                color: #FFFFFF

.form
    max-width: 370px
    // padding: 20px 20px 30px
    margin: 40px auto 0
    // width: 100%
    // max-width: 360px
    // position: relative
    z-index: 5
    display: flex
    flex-wrap: wrap
    input:not(.slider,#input-file), select
        font-family: inherit
        font-weight: 400
        font-size: 18px
        background-color: rgba(255, 255, 255, 0.85)
        line-height: 1.79
        height: 48px
        display: block
        margin: 0 auto 20px
        outline: 0
        border: 0
        border-radius: 3px
        padding-left: 10px
        color: #272733
        &::placeholder
            color: #272733
    &__file
        margin-top: 15px
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        max-width: 370px
        input[type='file']
            display: none
        label
            width: 100%
            height: 48px
            font-family: 'Lato'
            font-weight: 400
            font-size: 15px
            line-height: 1.2
            cursor: pointer
            outline: 0
            user-select: none
            background: #FFFFFF
            border: 2px solid #3E9CDC
            border-radius: 3px
            color: #272733
            display: flex
            justify-content: center
            align-items: center
            text-transform: uppercase
            transition: all .3s
            &:hover
                border-color: hsl(0, 0%, 21%)
                background: rgba(255, 255, 255, 0.85)
                svg
                    transform: scale(1.1)
            &:active
                background-color: hsl(0, 0%, 96%)
            svg
                margin-right: 10px
                max-width: 18px
                max-height: 20px
                transition: transform .3s

    &__range
        width: 100%
        margin: 0 auto
        h2
            display: flex
            justify-content: space-between
            font-weight: 400
            line-height: 1.2
            font-size: 18px
            color: #FFFFFF
            align-items: end

        input.slider
            width: 100%
            height: 6px
            -webkit-appearance: none
            border-radius: 8px
            &:focus
                outline: none

            /*webkit*/
            &::-webkit-slider-thumb
                -webkit-appearance: none
                width: 24px
                height: 24px
                border-radius: 16px
                background: #42A9ED
                border: 3px solid #286690
                box-shadow: 0 0 2px black
                margin-top: calc(max((6px - 1px - 1px) * 0.5,0px) - max(24px * 0.5,3px))

            &::-webkit-slider-runnable-track
                height: 6px
                border: 1px solid #FFFFFF
                border-radius: 8px
                background: #fff
                box-shadow: none

            &::-webkit-slider-thumb:hover
                background: #0061C3

            &::-webkit-slider-thumb:active
                background: #2f98f9

            /*mozilla*/
            &::-moz-range-thumb
                width: max(calc(24px - 3px - 3px),0px)
                height: max(calc(24px - 3px - 3px),0px)
                border-radius: 16px
                background: #42A9ED
                border: 3px solid #286690
                box-shadow: 0 0 2px black

            &::-moz-range-track
                height: max(calc(6px - 1px - 1px),0px)
                border: 1px solid #FFFFFF
                border-radius: 8px
                background: #fff
                box-shadow: none

            &::-moz-range-thumb:hover
                background: #0061C3

            &::-moz-range-thumb:active
                background: #2f98f9

            /*ms*/
            &::-ms-fill-upper
                background: transparent
                border-color: transparent

            &::-ms-fill-lower
                background: transparent
                border-color: transparent

            &::-ms-thumb
                width: 24px
                height: 24px
                border-radius: 16px
                background: #42A9ED
                border: 3px solid #286690
                box-shadow: 0 0 2px black
                margin-top: 0
                box-sizing: border-box

            &::-ms-track
                height: 6px
                border-radius: 8px
                background: #fff
                border: 1px solid #FFFFFF
                box-shadow: none
                box-sizing: border-box

            &::-ms-thumb:hover
                background: #0061C3

            &::-ms-thumb:active
                background: #2f98f9

    select
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E%0A") no-repeat 95% 50%, rgba(255, 255, 255, 0.85)
        appearance: none
        color: #272733
        option
            color: #272733
    input:not(.slider), select, .button
        width: 100%
        max-width: 370px
    .button
        span
            font-size: 15px

.footer
    font-size: 13px
    background: #3D4050
    padding: 21px 0
    font-weight: 400
    line-height: 1.2
    .container
        margin: 0 auto
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
    h5
        color: #FFFFFF
        text-align: center
        max-width: 310px
        margin-top: 10px
        span
            text-transform: uppercase
    &__pay
        max-width: 405px
        display: grid
        grid-template-columns: repeat(3, auto)
        column-gap: 10px
        margin: 10px max(0%, 81px) 0
        // margin-right: -15px
        // padding: 0 10px
        position: relative
        // list-style: none
        // display: flex
        // flex-wrap: wrap
        justify-content: space-around
        &::before,&::after
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 1px
            height: 18px
            background: #C3C3C3
        &::before
            left: -40px
        &::after
            right: -40px
        li
            display: flex
            align-items: center
            margin-right: 15px
            svg
                max-width: 20px
                max-height: 20px
                margin-right: 10px
            p
                color: #C3C3C3
    &__contacts
        margin-top: 10px
        max-width: 315px
        // display: flex
        display: grid
        grid-template-columns: repeat(2, auto)
        justify-content: space-around
        column-gap: 10px
        // flex-wrap: wrap
        li
            display: flex
            align-items: center
            a
                color: #FFFFFF
                transition: color .3s
            &:hover
                a
                    color: $blue
                svg
                    fill: #fff
            svg
                fill:#3E9CDC
                transition: fill .3s
                max-width: 20px
                max-height: 20px
                margin-right: 13px





